= render :partial => 'shared/notice' 
.grey_box
  - remote_form_for @content, :url => admin_contents_path, :method => :post  do |f| 
    = render :partial => 'form', :locals => {:f => f}
    %p
      = f.submit 'Create'
      = '|'
      = link_to_remote 'Back', :url => admin_contents_path, :method => :get
  .clear