!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
%head
  %title= 'Finca El Alamillo'
  %meta{:name => "description", :content => "finca el alamillo"} 
  %meta{:name => "keywords", :content => "finca el alamillo"}
  %meta{:name => "revisit-after", :content => "10 days"}
  %link{:rel => "shortcut icon", :href => "/favicon.ico"}
  = stylesheet_link_tag 'site/admin', 'site/slimbox2', :cache => 'all_back'
  = javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'slimbox2', 'application', 'tiny_mce/jquery.tinymce.js', 'tabs', :cache => 'all_back'
%body
  #container
    #content_container
      #header.admin
        #front_menu_admin
          = link_to 'Front', root_path
          = '|'
          = link_to 'Logout', login_path, :method => :delete
        #admin_menu
          = 'Administration menu :'
          = link_to 'Requests', admin_requests_path
          = '|'
          = link_to 'Invitations', admin_invitations_path
          = '|'
          = link_to 'Pictures', admin_pictures_path
          = '|'
          = link_to 'Contents', admin_contents_path
      #middle
        = yield
    .clear
    #footer.text_center
      = render :partial => "shared/footer"