#invitations_list
  = render :partial => 'shared/notice' 
  %table{:cellspacing => 0, :cellpadding => 0}
    %tr
      %th= 'Code'
      %th{:width => '480px'}= 'Comment'
      %th= image_tag('/images/back/network.png', :border => 0, :title => 'Connections count')
      %th= image_tag('/images/back/page.gif', :border => 0, :title => 'Pages seen count')
      %th= image_tag('/images/back/admin.png', :border => 0, :title => 'Administrator')
      %th= 'Expires at'
      %th
        .add.text_right= link_to_remote image_tag('/images/back/add.png', :border => 0), :url => new_admin_invitation_path, :html => {:class => 'text_right', :title => "Add a new invitation"}
    - if @invitations.empty? 
      = render :partial => 'shared/no_record' 
    - else 
      - @invitations.each do |i| 
        %tr
          %td.text_center=h i.code
          %td=h i.comment.blank? ? '-' : i.comment.first(75)+(i.comment.size > 75 ? '...' : '')
          %td.text_center=h i.nb_connections
          %td.text_center=h i.nb_pages_seen
          %td.text_center=h i.is_admin? ? image_tag('/images/back/tick.png', :border => 0) : '-'
          %td.text_center=h i.is_admin? ? 'Never expires' : i.expires_at.strftime('%D - %R')
          %td.text_right
            = link_to_remote image_tag('/images/back/zoom.png', :border => 0), :url => admin_invitation_path(i), :method => :get, :html => {:title => "Show invitation details"} 
            = link_to_remote image_tag('/images/back/pencil.png', :border => 0), :url => edit_admin_invitation_path(i), :method => :get, :html => {:title => "Edit invitation"}
            = link_to_remote image_tag('/images/back/delete.png', :border => 0), :url => admin_invitation_path(i), :confirm => 'Are you sure?', :method => :delete, :html => {:title => "Delete invitation"} 
      - if @invitations.total_pages > 1
        %tr
          %td{:colspan => 7, :style => "text-align:center"}
            = will_paginate @invitations
            = page_entries_info @invitations