!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
%head
  %title= 'Finca El Alamillo'
  %meta{:name => "description", :content => "finca el alamillo"} 
  %meta{:name => "keywords", :content => "finca el alamillo"}
  %meta{:name => "revisit-after", :content => "10 days"}
  %link{:rel => "shortcut icon", :href => "/favicon.ico"}
  = stylesheet_link_tag 'site/login', :cache => 'all_login'
  = javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'login', :cache => 'all_login'
%body
  #container
    #content_container
      #login_container
        #languages
          - hash = {:controller => params[:controller], :action => params[:action]}
          = link_to 'Español', hash.merge(:locale => 'es'), :class => 'espagnol'
          = link_to 'English', hash.merge(:locale => 'en'), :class => 'english'
          = link_to 'Français', hash.merge(:locale => 'fr'), :class => 'french'
        .clear
        = yield
    .clear
    #footer.text_center
      = render :partial => "shared/footer"
    .clear
